@model List<Store.Model.Models.ProductCategory>
List of all items of that category!
<div class="row">
    <div class="col-md-12">
        <table class="tableofdetail">
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="detail">@item.Name</td>
                    <td class="text-center"><i class="fa fa-edit show-edit-category-form detail" id="edit-@item.Id"></i></td>
                </tr>
            }
        </table>
    </div>
</div>